.container {
    margin-left: $nav-width;
    // margin-top: $header-height;
    margin-bottom: 20px;
    padding: 10px;
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;

    .row {
        margin-bottom: 20px;
    }
}