.header {
    left: $nav-width;
    margin-left: $nav-width;
    margin-bottom: 25px;

    &__container {
        padding: 10px 0;
        margin: 0 10px;
        border-bottom: 1px solid darken($color: $colour-light, $amount: 5);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        width: 45%;
    }

    &__form-search {
        position: relative;

        svg {
            position: absolute;
            top: 7px;
            left: 7px;
        }
    }

    &__user {
        font-size: 1em;
        padding: 0;

        svg {
            height: 1em;
        }
    }
}