.table {
	border-collapse: collapse;
	width: 100%;
    border-radius: 1em;
    overflow: hidden;
    background: $colour-white;
    margin-bottom: 1.25rem;
    box-shadow: 0 5px 5px darken($color: $colour-light, $amount: 4%);

    th {
        color: $colour-primary;
        font-weight: 300;
        background: darken($color: $colour-light, $amount: 5);
    }

    td {
        background: $colour-white;
    }

    th, td {
        padding: 15px 10px;
        font-size: 0.9em;
        text-align: center;
        border-bottom: 1px solid darken($colour-light, 2%);
    }

    tr:last-child th, tr:last-child td {
        border-bottom: none;
    }

    &__col--w {
        @include percent-widths($percent-widths);
    }
}
