.circle {

    width: $circle-size;
    height: $circle-size;
    display: flex;
    border-radius: 50%;
    background-color: $colour-primary;
    color: $colour-primary;

    @include bkg-and-font-color-status($status-palette);

    &__content {
        background: $colour-white;
        border-radius: 50%;
        width: calc($circle-size - $circle-width);
        height: calc($circle-size - $circle-width);
        margin: auto;

        font-size: 35px;
        font-weight: 400;
        text-align: center;
        line-height: calc($circle-size - $circle-width);
    }
}