.toggle-switch {
    display: none;

    + label {
        box-sizing: border-box;
        display: inline-block;
        width: 3em;
        height: 1.5em;
        border-radius: 1.5em;
        padding: 2px;
        background-color: lightgrey;
        transition: all 0.5s;
        font-size: 1em;
    }

    + label::before {
        box-sizing: border-box;
        display: block;
        content: "";
        width: calc(1.5em - 4px);
        height: calc(1.5em - 4px);
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.5s;
    }

    &:checked + label {
        background-color: $colour-primary;
    }

    &:checked + label::before {
        margin-left: 1.5em;
    }
}